@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

a{
    text-decoration: none;
}

*{
    padding: 0;
    margin:0;
    border:0;
}

li{
    list-style-type: none;
}

html{
    background-color: #7a757b;
}

.header{
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
    font-style: italic; 
    height: 15vh;
    background: rgba(199, 142, 204, 0.575);
    border-bottom: solid 4px rgba(145, 138, 124, 0.822);
    border-top: solid 4px  rgba(145, 138, 124, 0.822);
    border-left: solid 4px  rgba(145, 138, 124, 0.822);
    border-right: solid 4px  rgba(145, 138, 124, 0.822);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    color:rgba(238, 192, 192, 0.973);
}

.header>.title{
    position: absolute;
    left: 0;
    right: 0;
}

header>.registration_and_logins{
    z-index: 1;
}

.btn_history>button{
    background: transparent;
}

.kategory{
    height:fit-content;
    background:#ffffff;
    margin-top: 50px;
    margin-left: 10px;
    border-bottom: solid 4px #f1f1f1;
    border-top: solid 4px #f1f1f1;
    border-left: solid 4px #f1f1f1;
    border-right: solid 4px #f1f1f1;
    margin:23px; 
    font-family: Roboto;
    padding: 15px 10px;
}

.hr{
    color: rgb(97, 95, 95);
}

.btn_category{
    font-family: Roboto;
    margin-top: 20px;
    background: rgb(219, 212, 212);
    color: rgb(43, 39, 39);
    border-bottom: solid 4px #c2b3b3;
    border-top: solid 4px #8f8383;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    font-weight: bold;
}

.btn_caategory{
    background:#66CDAA;
    display: flex;
    width: 70px;
    height: 35px;
    margin-left: 10px;
    margin-top:5px;
    margin-bottom:8px;
}

.btn_histori{
    height: 75px;
    width: 338px;
    background:#8260dd;
    margin: 5px auto;
    display:block;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius:5px;
    border:0;
    margin: 0;
    font-size:1.5em;
    margin-top:10px;
}

.plus{
    width: 30px;
    height: 30px;
}

.btn_history{
    border:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select{
    font-family: Roboto;
}

.filter{
    width: 22px;
    height: 22px;
}

.post{
    width: 600px;
    background: rgba(206, 163, 163, 0.705);
    border-bottom: solid 3px black;
    border-top: solid 3px black;
    border-left: solid 3px black;
    border-right: solid 3px black;
    font-family: Roboto;
    font-style: italic; 
    margin-top:20px;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.678);
}

.category_and_post{
    display:flex;
    justify-content: center;
}

.register{
    
    width: 150px;
    height: 40px;
    color:white;
    background: rgba(214, 163, 21, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    z-index: 5;

}

.login{
    width: 150px;
    height: 40px;
    color:white;
    background: rgba(21, 185, 3, 0.877);
    margin-left: 3px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
}

.registration_and_logins{
    display: flex;
}

html{
    background:url("../images/Без названия.jpg") ;
}
    
.login_to_sait{
    background: darkseagreen;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;   
}
  
.login_to_sait label{
    display: flex;	
    justify-content: space-between;
    align-items: center;
}

.login_to_sait>h1{
    font-family: 'Times New Roman', Times, serif; 
    font-style: italic; 
}

.not_all_parameters{
    color :red;
}

.all_parameters{
    color:green;
}

.login_to_sait{
    background: #636067;
    width: 450px;
    height: 330px;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-top: solid 4px #11d1ba;   
}

.login_to_sait>input{
    display: flex;
    position: absolute;
    left:600px;
    margin:0 auto;
    font-weight: bold;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-family: Roboto;
}

.login_btn{
    margin-top: 30px;
    width: 345px;
    height: 45px;
    color:white;
    background-color: #11d1ba;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Roboto;
    font-weight :bold;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
    border: none;
}

.all_parameters{
    color:green;
}

.username_and_password{
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight :bold;
    border:none;
    padding: 0;
}

.fogot{
    color: #11d1ba;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Roboto;
}

.key{
    width: 45px;
    height: 45px;
    background: #f5f6f8;
}

.form_post_adding{
    width: 900px;
    height:500px;
    border-bottom: solid 5px #979797;
    border-top: solid 5px #979797;
    border-left: solid 5px #979797;
    border-right: solid 5px #979797;
    border-radius: 5px;
    margin:45px auto;
    background-color: rgb(255, 218, 218);
}

.textarea{
    width: 600px;
    height:120px;
    margin:10px 20px;
}

.inputs_second{
    width: 500px;
    height:50px;
    margin:10px 20px;
}

.sample_select_second{
    display: block; 
    font-size: 1em; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 60%; 
    max-width: 70%; 
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    margin:10px 20px;
}

.send_dtn{
    width: 130px;
    height:50px;
    background-color: brown;
    color:white;
    border-radius: 5px;
    margin:10px 20px;
}

.back_main_page{
    color :red;
}

.sample_select{
    display: block; 
    font-size: 1em; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 60%; 
    max-width: 70%; 
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    margin:10px 20px;
}

form .input div,
form .input input{
    height: 45px;
}

form .input input{
    width:300px;
    padding-left:18px;
    box-sizing: border-box;
    border:none;
}

.login_to_sait > .input{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.login_to_sait > .input:first-of-type{
    margin-top: 0px;
}

.input > div{
    background: #f5f6f8;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.input >div >img{
    width: 20px;
    height: 20px;
}

.like{
    width: 40px;
    height: 40px;
    padding: 0px;
}

.data,
.like{
    padding:0px;
    display: flex;
}

.post{
    position: relative;
}

.button_delete{
    width: 23px;
    height: 23px;
    position:absolute;
    right: 10px;
    top: 6px;
}

.post>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post>.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;     
    background-color:cadetblue;
    width: 200px;
    width: 350px;
}

.category{
    font-family: Roboto;
    margin-top: 8px;
    color:rgb(79, 98, 209);
}

 .one_category{
    margin-top:4px;
    display: flex;
    align-items: center;
} 

.warning{
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    color: #CD6829;
    background: rgba(147, 199, 226, 0.3);
}

.select{
    margin-top:20px;
}